[submodule "TSI"]
	path = TSI
	url = https://github.com/PCiesielczyk/TSI
[submodule "DFG_to_yolov5_converter"]
	path = DFG_to_yolov5_converter
	url = https://github.com/PCiesielczyk/DFG_to_yolov5_converter
[submodule "TS_samples_extractor"]
	path = TS_samples_extractor
	url = https://github.com/PCiesielczyk/TS_samples_extractor
